// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;
// $primary-color: #4c5c96;
// $secondary-color: #2e3141;
// $primary-color: #d92344;
// $secondary-color: #7d1334;
$primary-color: #1a99ed;
$secondary-color: #0edde4;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
